
/*basic styles*/
html, body {
	margin: 0;
    margin-top: 2em;
}
html {
	background: #636d7d;
}
body {
	font: 100% Helvetica, Arial, sans-serif;
	background: white;
    margin: 2em auto;
    width: 80%;
    padding: 1em;
}
article, aside, section, nav, figure, header, footer {
	display: block;
}
h1, h2, h3 {
	font-size: 2.4em;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #575451;
	margin: 0;
	line-height: 1;
}
h1 {
	font-size: 1.6em;
    position: absolute;
    top:0;
    left:0;
    text-align:center;
    width: 100%;
    background: rgba(240,240,240,.8);
    line-height:2;
}
h2 {
	font-size: 2em;
	margin-top: 2em;
}
h3 {
	font-size: 1.8em;
	text-transform: uppercase;
}
a {
	color: #77A0B8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
code {
	color: red;
}
/*Global classes*/
/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
	clear: right;
}
.cl {
	clear: left;
}
.cb {
	clear: both;
}

